:root{
    --primary :#fbd0be;
    --primary2: #DEB6AB;
    --secondary :#C4DDFF;
    --success :#7fb5a1;
    --info : #7f93cf;
    --warning: #f07083;
    --danger : #e48b51f9;
    --light : #E8F3D6;
    --dark: #2d3749;
    --blueish : #7197bd;
    --answer : #215f4c;
    --selected : #349679;

}

.bg-primary{   
  background: #ffd89b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.bg-pass{
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%); 
}
.bg-fail{
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);   
  }