:root{
    --primary :#FEE2C5;
    --primary2: #DEB6AB;
    --secondary :#C4DDFF;
    --success :#7fb5a1;
    --info : #7f93cf;
    --warning: #b0515f;
    --danger : #fab88cf9;
    --light : #E8F3D6;
    --dark: #354259;
    --blueish : #7197bd;
    --answer : #215f4c;
    --selected : #349679;

}

.bg-primary{
    background-color: var(--primary);
}

.bg-pass{
  background-color: var(--success) !important;   
}
.bg-fail{
    background-color: var(--warning) !important;   
  }