input{
    height:40px;
    padding:10px 20px;
    border:2px solid var(--info);
    box-shadow: 10px 10px var(--secondary);
    width:100%;
    
}

.primary-btn{
    height:50px;
    background-color: var(--dark);
    color:black;
    font-weight: bold;
    padding: 8px 10px;
    
}

.create-button{
    background-color: var(--secondary);
    color:black;
    font-weight: bold;
    padding: 8px 10px;
    box-shadow: 2px 2px 2px var(--dark);
    border-radius: 12px;
}
.create-button:hover{
    background-color: var(--dark);
    cursor: pointer;
}
.ant-form-item{
    margin-bottom:10px !important;
}
button:hover{
    
    background-color:var(--secondary);
}